In [16]:
import numpy as np
import pandas as pd
from pandas import MultiIndex, DataFrame
from numpy.random import randn

In [17]:
outside = ['G1', 'G1', 'G1', 'G2', 'G2', 'G2']
inside = [1,2,3,1,2,3]
hier_index = list(zip(outside,inside))
hier_index = MultiIndex.from_tuples(hier_index)

In [18]:
hier_index

MultiIndex([('G1', 1),
            ('G1', 2),
            ('G1', 3),
            ('G2', 1),
            ('G2', 2),
            ('G2', 3)],
           )

In [19]:
df = DataFrame(randn(6,2),hier_index,['A','B'])

In [20]:
df

             A         B
G1 1 -0.790853 -0.721430
   2  0.221943  1.191666
   3 -0.078030 -0.388677
G2 1 -0.789706 -1.173058
   2 -1.074883  1.180171
   3 -1.528137 -0.678169

In [22]:
df.loc['G1'].loc[1]

A   -0.790853
B   -0.721430
Name: 1, dtype: float64

In [23]:
df.index.names = ['Groups', 'Num']

In [24]:
df

                   A         B
Groups Num
G1     1   -0.790853 -0.721430
       2    0.221943  1.191666
       3   -0.078030 -0.388677
G2     1   -0.789706 -1.173058
       2   -1.074883  1.180171
       3   -1.528137 -0.678169

In [26]:
df.loc['G2'].loc[2]['B']

1.1801712023918856

In [27]:
df.loc['G1'].loc[3]['A']

-0.07802964094469039

In [29]:
df.xs(1, level = 'Num')

               A         B
Groups
G1     -0.790853 -0.721430
G2     -0.789706 -1.173058