In [3]:
import numpy as np
import pandas as pd
from numpy.random import randn, seed
from pandas import DataFrame

In [4]:
seed(101)

In [5]:
df = DataFrame(randn(5,4), ['A', 'B', 'C', 'D', 'E'], ['W', 'X', 'Y', 'Z'])
df

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [17]:
df['N'] = df['W']+df['Z']
df

          W         X         Y         Z       new         N
A  2.706850  0.628133  0.907969  0.503826  3.210676  3.210676
B  0.651118 -0.319318 -0.848077  0.605965  1.257083  1.257083
C -2.018168  0.740122  0.528813 -0.589001 -2.607169 -2.607169
D  0.188695 -0.758872 -0.933237  0.955057  1.143752  1.143752
E  0.190794  1.978757  2.605967  0.683509  0.874303  0.874303

In [18]:
df.drop('new', axis=1,inplace=True)

In [23]:
df[['Z','N']]

          Z         N
A  0.503826  3.210676
B  0.605965  1.257083
C -0.589001 -2.607169
D  0.955057  1.143752
E  0.683509  0.874303

In [24]:
df.loc['A']

W    2.706850
X    0.628133
Y    0.907969
Z    0.503826
N    3.210676
Name: A, dtype: float64

In [26]:
df.iloc[2]

W   -2.018168
X    0.740122
Y    0.528813
Z   -0.589001
N   -2.607169
Name: C, dtype: float64

In [29]:
df.loc['A', 'Y']

0.9079694464765431